<!-- one way binding -->
<h1 [class]="class"> 
  {{ title }}
</h1>

<app-aside></app-aside>

<app-new></app-new>
<hr>

<!-- input with local variable myInput -->
<input
  type="text"
  (keyup.enter)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
>


<br>
<button (click)="onClick()">CLICK EVENT</button>
<pre>
  {{inputValue}}
  <br>
  {{clickValue}}
</pre>

<!-- two way binding/required FormsModule import  -->
<hr>
<input type="text" [(ngModel)]="badge">
<p>{{badge}}</p> 
<!-- same as 
<hr>
<input type="text" [value]="badge" (input)="onInput2($event)">
<p>{{badge}}</p> 
-->


  