<div class="container">

<!-- ngStyle directive -->
  <div [ngStyle]="{
    'width': '25vw',
    'height': '25vw',
    'border': '1px solid gray',
    'borderRadius': '.25rem',
    'transition': 'all .3s',
    'background': toggleStyle ? 'purple' : 'white'
  }">
  </div>
  <button class="btn btn-dark mt-2" (click)="toggleStyle = !toggleStyle"  >{{toggleStyle ? 'make white' : 'make purple'}}</button>


  <div [ngStyle]="{
    'width': '25vw',
    'height': '25vw',
    'border': '1px solid gray',
    'borderRadius': '.25rem',
    'transition': 'all .3s'
  }"
    [ngClass]="{
      bg: toggleClass
    }">
  </div>

  <button class="btn btn-dark mt-2" (click)="toggleClass = !toggleClass"  >{{toggleClass ? 'clean bg' : 'make bg' }}</button>




</div>
  